<a href="https://colab.research.google.com/github/mostlydipo/AI-Data-science/blob/main/Houseprice_data_Linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #  Data processing(files)
import numpy as np # Mathematics computation
import matplotlib.pyplot as plt # Plots and graphs

In [ ]:
# Sklearn library for machine learning
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
df = pd.read_csv('houseprice_data.csv') #loading dataset
df.head() # First 5 rows of the data.

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.describe() #statistical interpretation of the dataset

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.401822e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.673622e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
df.isnull().any().any() #check for null values

False

With the absence of Null values, we continue to model development

**We need two sets of the same data to train our model(complete and incomplete) the 'dftrain' is the incomplete dataset while the 'dfeval' is the 
complete dataset with fewer rows**

In [ ]:
dftrain = df['price'] #Dependent variable
dfeval=df.drop('price',axis=1) # Independent variable

x_train, x_test, y_train, y_test = train_test_split(dfeval, dftrain, test_size=0.15, random_state=0) # Training and splitting data


print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

regr=LinearRegression() # Applying linear regression

regr.fit(x_train, y_train)

number of test samples : 3242
number of training samples: 18371

LinearRegression()

In [ ]:
features = ['bedrooms', 'bathrooms', 'sqft_living','sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement','yr_built', 'yr_renovated',
            'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'] #Independent or  input variables

In [ ]:
df.corr()['price'].sort_values() # the highest correlation is sqft_living with 0.70

zipcode         -0.053168
long             0.021571
condition        0.036392
yr_built         0.053982
sqft_lot15       0.082456
sqft_lot         0.089655
yr_renovated     0.126442
floors           0.256786
waterfront       0.266331
lat              0.306919
bedrooms         0.308338
sqft_basement    0.323837
view             0.397346
bathrooms        0.525134
sqft_living15    0.585374
sqft_above       0.605566
grade            0.667463
sqft_living      0.702044
price            1.000000
Name: price, dtype: float64

**Testing highest correlating features with target varuable(price)**

In [ ]:
X= df[['sqft_living']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.49286538652201417

In [ ]:
X= df[['grade']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.44550650957913185

In [ ]:
X= df[['sqft_above']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.36670958293564226

In [ ]:
X= df[['sqft_living15']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.3426627272717926

In [ ]:
X= df[['sqft_living','grade','sqft_above','sqft_living15']] # Using the 4 highest correlating features gives the highest accuracy so far 
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.5419882715173809

In [ ]:
X= df[['bathrooms']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.2757657943583819

In [ ]:
X= df[['bedrooms']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.09507254960523659

In [ ]:
X= df[['view']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.15788422070137265

In [ ]:
X= df[['bathrooms', 'bedrooms', 'view']] # Using more than one feature improves the the model
Y= df['price'] # There is an improvement in score using feature from the 3 previous cells
regr.fit(X,Y)
regr.score(X,Y)

0.3707802133177748

In [ ]:
X= df[['lat']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.09419913122249313

In [ ]:
# combining two features improves the model
X= df[['lat', 'sqft_basement']] # in the above cell 'lat' score = 0.095
Y= df['price'] # in the cell below 'sqft_basement' score = 0.10
regr.fit(X,Y) # when both features are  combined in this cell, score = 0.18
regr.score(X,Y)

0.17928728743087374

In [ ]:
X= df[['sqft_basement']]
Y= df['price']
regr.fit(X,Y)
regr.score(X,Y)

0.1048706345255791

In [ ]:
regr = LinearRegression() # linear regression.
regr

LinearRegression()

In [ ]:
regr.score(x_test[['bedrooms', 'bathrooms', 'sqft_living','sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement','yr_built', 'yr_renovated',
            'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']], y_test) # Our model has a 69 percent accuracy, Can also be interpreted as coefficient of determination

0.690599829594227

Afrer the R2_scores, we should note the following:

* Combining two or more features increases our R2 score
*   The sqft_living is the single highest determinant of the price of house with a higher R2 score
*   Using the 4 highest detrerminants(grade,sqft(living,above,living15) our R2 score reached a significantly new height of 0.54
* From the previous cell, our model is 69 percent accurate

In [ ]:
x_test[:5]

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17384,2,1.50,1430,1650,3.0,0,0,3,7,1430,0,1999,0,98125,47.7222,-122.290,1430,1650
722,4,3.25,4670,51836,2.0,0,0,4,12,4670,0,1988,0,98005,47.6350,-122.164,4230,41075
2680,2,0.75,1440,3700,1.0,0,0,3,7,1200,240,1914,0,98107,47.6707,-122.364,1440,4300
18754,2,1.00,1130,2640,1.0,0,0,4,8,1130,0,1927,0,98109,47.6438,-122.357,1680,3200
14554,4,2.50,3180,9603,2.0,0,2,3,9,3180,0,2002,0,98155,47.7717,-122.277,2440,15261

In [ ]:
y_test[:5]

17384     297000.0
722      1580000.0
2680      562100.0
18754     631500.0
14554     780000.0
Name: price, dtype: float64

In [ ]:
regr.predict(x_test[:5]) # Linear model prediction of houseprices of the above cell.(y_test)

array([ 377606.29577026, 1539911.31784929,  545707.24632067,
        579000.96724091,  977780.15236804])

In [ ]:
 print(f"intercept: {regr.intercept_}") # mean value of our house price when feature variables are zero

intercept: 4354623.919212036

In [ ]:
print(f"coefficients: {regr.coef_}") # postive and negative correlatuon between our price(dependent variable) and each feature(independent variable)

coefficients: [-3.52589348e+04  4.03144649e+04  1.12452747e+02  1.62706859e-01
  8.07489780e+03  6.16173732e+05  5.24845455e+04  2.57928659e+04
  9.42719003e+04  7.20445579e+01  4.04081897e+01 -2.65542115e+03
  2.04235629e+01 -5.60930560e+02  6.02967172e+05 -2.17090705e+05
  2.42665700e+01 -4.38232003e-01]